@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Onbooks_3Ds.Models.Emprestimo>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!----===== Icons e jquery CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="shortcut icon" href="_img/yett.png" type="image/x-icon">
    <link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.13.2/themes/base/jquery-ui.css">

    <link rel="stylesheet" href="~/css/cadastLivros.css">
    <link rel="stylesheet" href="~/css/reserva.css">
    <link rel="stylesheet" href="~/css/navbar.css">
    <!-- font awesome icons -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
          integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Reservas</title>
</head>

<body>

    <div id="fullscreen-div"></div>
    <form asp-action="Emprestimus" asp-controller="Adm" method="post" enctype="multipart/form-data" class="modal" id="modal">
        <div class="modal-content">
            <div class="modal-head">
                <h3 id="modal-title">Cadastrar</h3>
                <button type="button" id="close-btn">
                    <i class="fas fa-times"></i>
                </button>
            </div>
            <div class="modal-main">
                <div class="modal-row">
                    <div class="modal-col">
                        <label for="">Id Usuario</label>
                        <input name="id" type="text" placeholder="Codigo do Usuario" class="form-control">
                    </div>
                </div>
                <div class="modal-row grid-row">
                    <div class="modal-col">
                        <label for="">Data do emprestimo</label>
                        <input name="data_emprestimo" type="number" placeholder="yyyy/mm/dd" class="form-control">
                    </div>
                    <div class="modal-col">
                        <label for="">Data da possivel Devolução </label>
                        <input name="data_devolucao" type="number" placeholder="yyyy/mm/dd" class="form-control">
                    </div>
                    
                </div>

                <div class="modal-row grid-row">
                    <div class="modal-col">
                        <label for="">Codigo do exemplar</label>
                        <input name="titulo" type="number" placeholder="Ex :(1)-Marvel" class="form-control">
                    </div>
                    
                </div>
                <div class="modal-row">
                    <button type="submit" id="save-btn">Cadastrar</button>
                </div>
            </div>
        </div>
    </form>
    
    <nav class="sidebar close">
        <header>
            <div class="image-text">
                <a button asp-controller="Adm" asp-action="Dashbord_Administracao">
                    <span class="image">
                        <img src="~/img/yett.png" alt="">
                    </span>
                </a>

                <div class="text logo-text">
                    <span class="name">OnBooks</span>
                    <hr class="linha">


                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu">

                <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li>

                <ul class="menu-links">
                    <li class="nav-link">
                        <a asp-controller="Adm" asp-action="Dashbord_Administracao">
                            <i class='bx bx-grid-alt icon'></i>
                            <span class="text nav-text">Dashboard</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Adm" asp-action="Acervo_Biblioteca">
                            <i class='bx bx-library icon'></i>
                            <span class="text nav-text">Bibliotecas</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Adm" asp-action="Cadastro_de_livros">
                            <i class='bx bx-edit icon'></i>
                            <span class="text nav-text">Cadastro de Livro</span>

                        </a>
                    </li>

                    <li class="nav-link">
                        <a asp-controller="Adm" asp-action="Reservas">
                            <i class='bx bx-wallet-alt icon'></i>
                            <span class="text nav-text">Reservas</span>

                        </a>

                    </li>

                    <li class="nav-link">
                        <a asp-controller="Adm" asp-action="Emprestimus">
                            <i class='bx bx-transfer-alt icon'></i>
                            <span class="text nav-text">Empréstimos</span>

                        </a>
                    </li>




                    </li class="nav-link">
                    <a href="index.html"></a>
                    <span class="text nav-text">
                        <img class="sideimg" src="~/img/9090.png" alt="">
                    </span>
                    </a>
                    </li>
                </ul>


            </div>

            <div class="bottom-content">

                @if (Context.Session.GetString("user") == null)
                {

                    <li class="">

                        <a asp-controller="Adm" asp-action="Sings">
                            <i class='bx bx-log-in icon'></i>
                            <span class="text nav-text">Login</span>
                        </a>
                    </li>

                }
                else
                {
                    <li class="nav-bottom">
                        <a asp-controller="Adm" asp-action="Sair">
                            <i class='bx bx-log-out icon'></i>
                            <span class="text nav-text">Logout</span>
                        </a>
                    </li>
                }

                <li class="mode">
                    <div class="sun-moon">
                        <i class='bx bx-sun icon sun'></i>
                        <i class='bx bx-moon icon moon'></i>
                    </div>
                    <span class="mode-text text">Dark mode</span>


                    <div class="toggle-switch">
                        <span class="switch"></span>
                    </div>
                </li>

            </div>
        </div>

    </nav>



    <!-- address book home -->
    <div class="addr-book" id="addr-book">
        <div class="addr-book-content">
            <div class="addr-book-head">
                <i class="fa-solid fa-address-book fa-2x"></i>
                <h2>OnBooks</h2>
            </div>
            <div class="addr-book-top">
                <button type="button" class="btn" id="add-btn">
                    <span><i class="fas fa-plus"></i> Cadastrar Acervo</span>
                </button>
            </div>



            <div class="addr-book-list" id="addr-book-list">
                <table class="addr-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Título</th>
                            <th>Identidade</th>
                            <th>Data do Empréstimo</th>
                            <th>Data de possivel devolução</th>
                            <th>devolução</th>

                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {

                            <tr>
                                <td>
                                    @Html.DisplayFor(modelitem =>item.Id)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem =>item.Titulo)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem =>item.Identidade)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelitem =>item.Data_emprestimo)
                                </td>

                                <td>
                                    @Html.DisplayFor(modelitem =>item.Data_devolucao)
                                </td>
                                <td>

                                    @Html.ActionLink("devolver","Devolucao",new {id=item.Id})
                                </td>


                            </tr>
                        }



                    </tbody>

                </table>
            </div>
        </div>
    </div>
    <!-- end of address book home -->
    @if (TempData["msg"] != null)
    {
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
        <script>
            if (@TempData["msg"].ToString().IndexOf("sucesso") > 0)
                toastr.success('@TempData["msg"]')
            else
                toastr.error('@TempData["msg"]')

        </script>
    }
    <script src="~/js/nav.js"></script>
    <script src="~/js/cadastLivros.js"></script>

</body>

</html>

